/* SETUP
======================================================================================== */

@font-face {
  font-family: 'Font';
  src: url(font.woff2) format('woff2'),
       url(font.woff) format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #06050a;
  font-family: 'Font';
  /*line-height: 0.95em;
  letter-spacing: -0.03em;*/
  line-height: 6em;
  letter-spacing: -0.2em;
  color: #fff;
  overflow-x: hidden;
}


/* TEXT, DIVIDERS
======================================================================================== */

.text {
	padding: 7vw;
	font-size: 103px;
}

.intro {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.intro .text {
  padding-bottom: 0;
}

.footer .text {
  padding-top: 0;
}

hr {
  display:block;
  border:0px;
  width: 100%;
  height: 55px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 7vw 0;
  background-image:url(divider-desktop.gif);
}


/* === Mobile adjustments === */

@media screen and (orientation: portrait) {
  hr {
    margin: 12vw 0;
    background-image:url(divider-mobile.gif);
  }
}


/* HEADER, LOADER
======================================================================================== */

.logo {
    width: 35vw;
    margin-right: -2vw;
  	mix-blend-mode: lighten;
}
@media screen and (orientation: portrait) {
  .logo {
	  width: 71vw;
	  margin-right: -4vw;
  }
}



/* === Loader === */

.loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100dvh;
  display: flex;
/*  display: none !important;*/
  align-items: center;
  justify-content: center;
  z-index: 15;
  perspective: 350px;
  animation: flip-vertical-out 1.3s forwards normal 1.3s;
}
.loader .logo {
  animation: flip-vertical 1.3s forwards infinite;
  mix-blend-mode: difference;
}


/* === Header === */

.header {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 350px;
  z-index: 10;
  background: #06050a;
  overflow: hidden;
  animation: shrink 3s forwards normal 1.4s cubic-bezier(0.25, 0.33, 0.11, 0.99);
}
.header .logo {
  animation: flip-vertical-in 1.3s forwards normal 2.6s;
}
.header video {
  opacity: 0;
  animation: fade-in-shrink 3s forwards normal 1.4s cubic-bezier(0.25, 0.33, 0.11, 0.99);
}

#background-video-portrait, #background-video-landscape {
  width: 100vw;
  height: 100dvh;
  display: none;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media screen and (orientation: landscape) {
  #background-video-landscape {
    display: block;
  }
}
@media screen and (orientation: portrait) {
  #background-video-portrait {
    display: block;
  }
}


/* === Animations === */

@keyframes flip-vertical {
  0% {
    transform: rotateX(-90deg);
    animation-timing-function: cubic-bezier(0.29, 0.28, 0.32, 1);
  }
  50% {
    transform: rotateX(0deg);
  }
  75% {
    transform: rotateX(0deg);
    animation-timing-function: cubic-bezier(0.47, 0.48, 1, 0.33);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flip-vertical-out {
  75% {
    transform: rotateX(0deg);
    animation-timing-function: cubic-bezier(0.47, 0.48, 1, 0.33);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flip-vertical-in {
  0% {
    transform: rotateX(-90deg);
    animation-timing-function: cubic-bezier(0.29, 0.28, 0.32, 1);
  }
  50% {
    transform: rotateX(0deg);
  }
}

:root {
    --shrink-to: 72dvh
}
@media screen and (orientation: portrait) {
    :root {
        --shrink-to: 54dvh
    }
}

@keyframes fade-in-shrink {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  75% {
    opacity: 1;
    transform: scale(1);
    height: 100dvh;
    animation-timing-function: cubic-bezier(0.36, 0, 0.11, 0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    height: var(--shrink-to);
  }
}
@keyframes shrink {
  0% {
    height: 100dvh;
  }
  75% {
        height: 100dvh;
    animation-timing-function: cubic-bezier(0.36, 0, 0.11, 0.99);
  }
  100% {
    height: var(--shrink-to);
  }
}


/* OUR WORK GRID
======================================================================================== */

.grid {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 7vw;
  margin: 0 auto;
}

.grid img, .grid video {
  display: block;
  width: 100%;
}

.grid .row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: center;
  gap: 7vw;
  width: 75%;
}

.grid .row .align-top {
  align-items: flex-start;
}

.mobile-small {
  width: 45%;
}
.mobile-large {
  width: 55%;
}
.desktop {
  width: 88%;
  align-self: center;
}
.medium {
  width: 66%;
  margin-left: 5vw;
}

.offset-up {
  padding-bottom: 7vw;
}
.offset-down {
  padding-top: 7vw;
}
.offset-right {
  padding-right: 5vw;
  align-self: flex-end;
}


/* === Mobile adjustments === */

@media screen and (orientation: portrait) {
  .text {
    font-size: 114px;
    padding: 12vw 8.5vw;
  }
  .grid {
    width: auto;
    gap: 12vw;
  }
  .grid .row {
    width: 80vw;
    gap: 12vw;
    flex-direction: column;
    align-items: flex-start;
  }
  .grid .row .item:first-child {
    align-self: flex-end;
  }
  .mobile-small, .mobile-large {
    width: 86%;
  }
  .desktop {
    width: 100%;
  }
  .medium {
    width: 88%;
    margin-left: 0;
  }
  .offset-up {
    padding-bottom: 0;
  }
  .offset-down {
    padding-top: 0;
  }
  .offset-right {
    padding-right: 0;
    align-self: flex-end;
  }
  .mobile-first {
    order: -1;
  }
}


/* OBSIDIAN BRANDING 
======================================================================================== */

.obsidian-branding {
  background: #000;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 1px #fff;
}
.obsidian-branding .obsidian-background {
  position: absolute;
  background: #000;
  display: block;
  width: 100%;
}
.obsidian-branding #canvas {
    background: #000;
    width: 100%;
    height: 400px;
    display: block;
  }
.obsidian-branding .obsidian-logo {
  width: 254px;
  background: #000;
  z-index: 1;
}
.obsidian-branding .obsidian-logo img {
  width: 100%;
  display: block;
}  


/* === Mobile adjustments === */

@media screen and (orientation: portrait) {
  .obsidian-branding {
    box-shadow: 0 0 0 3px #fff;
  }
  .obsidian-branding, .obsidian-branding #canvas {
    height: 600px;
  }
  .obsidian-branding .obsidian-logo {
    width: 450px;
  }
}

